<html lang="en">
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
<style>
body,h1,h2,h3,h4,h5 {font-family: "Poppins", sans-serif}
body {font-size:16px;}
.w3-half img{margin-bottom:-6px;margin-top:16px;opacity:0.8;cursor:pointer}
.w3-half img:hover{opacity:1}
</style>
<body>

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-red w3-collapse w3-top w3-large w3-padding" style="z-index:3;width:300px;font-weight:bold;" id="mySidebar"><br>
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-hide-large w3-display-topleft" style="width:100%;font-size:22px">Close Menu</a>


</nav>

<!-- !no borrar importante! -->
<div class="w3-main" style="margin-left:340px;margin-right:40px">

  <!-- Header -->
  <div class="w3-container" style="margin-top:80px" id="showcase">
    <h1 class="w3-jumbo"><b>Linio </b></h1>
    <h1 class="w3-xxlarge w3-text-red"><b>Resumen: Carrito de compras + Envío</b></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">
  </div>
<div id="cartItems">
<h2><b>PRODUCTOS DEL CARRITO:</b></h2>
<div id="tableItems">

{% for row in products %}
<div>
<hr id="seperator">
<div id="itemName">
<span id="itemNameTag">{{row[1]}}</span><br>
</div>
<div id="itemPrice">
S/{{row[2]}}
</div>
</div>
{% endfor %}

<hr id="seperator">
<div id="total">
<span id="subtotal">Costo de envío:
<h4 class="w3-large w3-text-red"></span>S/{{envio}} </h4>
<br>
<span id="subtotal">Tu precio total es:
<h4 class="w3-large w3-text-red">
</span> S/{{totalPrice}}
<span if="deliverydate"></span>
</div>
 <p>Para más información sobre tarifa de envío leer </p><a href="/tyc"><h1 class="w3-large w3-text-red">Términos y condiciones  </a> </h1>

 <form>
  <h2><b>Elegir Comprobante de Pago</b></h2>
   <input id="boleta" size=100px type="radio" name="searchQuery" value="Factura">
 <label for="boleta">Boleta</label>
 <br>
 <input id="factura" size=100px type="radio" name="searchQuery" value="Factura">
 <label for="factura">Factura </label><input class="form-control" id="direccion" name="direccion" type="text" value="Ingrese Ruc">
</form>
</div>
</div>
  <h2><b>Elegir Método de Pago</b></h2>
<h4 class="w3-large w3-text-red"><b>Elegir Efectivo
<a href="/efectivo">Pagar con efectivo</a>

<h4 class="w3-large w3-text-red"><b>Elegir Tarjeta
<a href="/tarjeta">Pagar con tarjeta</a>




<!-- End page content -->
</div>
