<!DOCTYPE HTML>
<html>
<head>
<title>Linio | Detalle Producto</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
<style>
body,h1,h2,h3,h4,h5 {font-family: "Poppins", sans-serif}
body {font-size:16px;}
.w3-half img{margin-bottom:-6px;margin-top:16px;opacity:0.8;cursor:pointer}
.w3-half img:hover{opacity:1}
</style>

<body>

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-red w3-collapse w3-top w3-large w3-padding" style="z-index:3;width:300px;font-weight:bold;" id="mySidebar"><br>
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-hide-large w3-display-topleft" style="width:100%;font-size:22px">Close Menu</a>
 <div class="w3-container">
    <h2 class="w3-padding-64"><b>Somos<br>Linio</b></h2>
  </div>

  {% if not loggedIn %}
  <div class="w3-bar-block">
    <a href="/loginForm" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Registrate</a>
  </div>
  {% else %}
<div class="dropdown">
		<div class="w3-bar-block">
			<a href="/" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Inicio</a>
			<hr>
			<a href="/cart" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Mi carrito</a>
			<hr>
			<a href="/logout" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Salir de Linio</a>
		</div>
	</div>
	{% endif %}

  <div>

  </div>


</nav>


<!-- !no borrar importante! -->
<div class="w3-main" style="margin-left:340px;margin-right:40px">

  <!-- Header -->
  <div class="w3-container" style="margin-top:80px" id="showcase">
    <h1 class="w3-jumbo"><b>Linio </b></h1>
    <h1 class="w3-xxxlarge w3-text-red"><b>Descripcion del producto</b></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">
  </div>
<link rel="stylesheet" href={{url_for('static', filename='css/productDescription.css')}} />
<link rel="stylesheet" href={{ url_for('static', filename='css/topStyle.css')}} />
</head>

<center>
<body>
<div id="display">
	<div id="productName">
		<h1>{{data[1]}}</h1>
	</div>
	<div>
		<img src={{url_for('static', filename=''+data[4]) }} id="productImage"/>
	</div>

	<div id="productDescription">
		<h2>Detalles</h2>
		<table id="descriptionTable">
			<tr>
				<td>Nombre del Producto</td>
				<td>{{data[1]}}</td>
			</tr>
			<tr>
				<td>Precio</td>
				<td>S/ {{data[2]}}</td>
			</tr>
			<tr>

			</tr>
		</table>
		<h2>Descripción</h2>
		<p>{{data[3]}}</p>
	</div>

	<div id="addToCart" class="w3-xxlarge w3-text-red">
		<a href="/addToCart?productId={{request.args.get('productId')}}"><b>Añadir al carrito</b></a>
	</div>

</div>
</body>
</html>