<html lang="en">
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
<style>
body,h1,h2,h3,h4,h5 {font-family: "Poppins", sans-serif}
body {font-size:16px;}
.w3-half img{margin-bottom:-6px;margin-top:16px;opacity:0.8;cursor:pointer}
.w3-half img:hover{opacity:1}
</style>
<body>

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-red w3-collapse w3-top w3-large w3-padding" style="z-index:3;width:300px;font-weight:bold;" id="mySidebar"><br>
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-hide-large w3-display-topleft" style="width:100%;font-size:22px">Close Menu</a>


</nav>

<!-- !no borrar importante! -->
<div class="w3-main" style="margin-left:340px;margin-right:40px">

  <!-- Header -->
  <div class="w3-container" style="margin-top:80px" id="showcase">
    <h1 class="w3-jumbo"><b>Linio </b></h1>
    <h1 class="w3-xxxlarge w3-text-red"><b>Pago con tarjeta</b><br></h1>



    <hr style="width:50px;border:5px solid red" class="w3-round">
  </div>
  <h2 class="w3-largex w3-text-red"><b>Confirma la tarjeta</b></h2>

   <center>

<!-- End page content -->
</div>
<center>
<html>
<div class = 'container'>
 {% include  '_messages.html' %}
{% from "_formhelpers.html" import render_field %}

<form method=post enctype='multipart/form-data'>
        <div>
            
            {{ render_field(form.titular, class = 'form-control') }} 
            {{ render_field(form.tarjeta, class = 'form-control') }}
            {{ render_field(form.cvv, class = 'form-control' ) }}

        </div>
<br>
<br>

<h2 class="w3-largex w3-text-red"><b>Realizar Pago con Tarjeta</b></h2>
     <div><a href="/pagoexitoso">Pagar</div></a>

</html>

