<html lang="en">
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
<style>
body,h1,h2,h3,h4,h5 {font-family: "Poppins", sans-serif}
body {font-size:16px;}
.w3-half img{margin-bottom:-6px;margin-top:16px;opacity:0.8;cursor:pointer}
.w3-half img:hover{opacity:1}
</style>
<body>

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-red w3-collapse w3-top w3-large w3-padding" style="z-index:3;width:300px;font-weight:bold;" id="mySidebar"><br>
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-hide-large w3-display-topleft" style="width:100%;font-size:22px">Close Menu</a>


</nav>

<!-- !no borrar importante! -->
<div class="w3-main" style="margin-left:340px;margin-right:40px">

  <!-- Header -->
  <div class="w3-container" style="margin-top:20px" id="showcase">
    <h1 class="w3-jumbo"><b>Linio </b></h1>
    <h1 class="w3-xxlarge w3-text-red"><b>Términos y Condiciones</b></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">
  </div>

 <p align="justify"> Linio brinda un servicio de envío con un lapso determinado de 2 a 4 días que consiste en recoger los productos desde los comercios para luego entregarlos a la dirección indicada por el cliente. Los comercios son responsables de la calidad de los productos, siendo Linio un intermediario entre los usuarios y los comercios.  </p>
 <h2><b>Edad Mínima:</b></h2>
 <p align="justify">Para ser cliente de la plataforma Linio es indispensable que el usuario ser mayor de 18 años de edad.</p>
 <h2><b>Condiciones de Pago:</b></h2>
 <h4><u>Formas de pago</u></h4>
<p align="justify">Para usar el servicio de Linio debe proveer una forma de pago ya sea boleta o factura.</p>
<h4><u>Cancelación</u></h4>
<p align="justify">Puede cancelar el envío en cualquier momento. No obstante, el cliente podrá cancelar el pedido de forma gratuita si el pedido no ha sido asignado a un repartidor. La cancelación posterior a la compra por el cliente, en los casos que el producto ya haya sido recogido en el comercio, se carga al cliente la tarifa del servicio de envío.
</p>
<h4><u>Precio de envío</u></h4>
<p align="justify">La tarifa de envío depende del peso del producto y del distrito.No obstante esta semana dado el CyberLinio todos los envíos están a 10 soles.</p>
<h4><u>Servicio al cliente</u></h4>
<p> Si necesita obtener más información sobre nuestro servicio y sus funciones, o si necesita asistencia con su cuenta, llame al siguiente número: 945355652. El cliente tendrá comunicación constante con el repartidor para solucionar cualquier inconveniente durante la entrega de los productos.

<h2><b>Servicio de Linio</b></h2>
<p align="justify">Acepta usar el servicio de Linio, incluidas todas las características y funcionalidades asociadas con éste, bajo conformidad con todas las leyes, normas y reglamentaciones vigentes. <br>También acepta: no eliminar, alterar, desactivar, interferir con o burlar las protecciones de contenido del servicio de Linio; no usar ningún robot, scraper u otra forma automatizada para acceder al servicio de Linio.</p>
<h2>Disposiciones Finales:</h2>
<h4><u>Cambios en los Términos de uso</u></h4>
<p align="justify"> Linio puede cambiar estos Términos de uso cuando sea necesario. Le informaremos por email con al menos 30 días de anticipación si estos cambios se aplican a usted.
<h4><u>Comunicaciones electrónicas</u></h4>
<p align="justify">Le enviaremos la información relativa a su cuenta (por ejemplo las autorizaciones de pago y las facturas mediante emails a la dirección de email proporcionada durante el registro).
<br>
<b>Última actualización: 17 de noviembre de 2019
</p>



<center>




 </p><a href="/checkout"><h1 class="w3-large w3-text-red">Regresar  </a> </h1>


</div>
</div>





<!-- End page content -->
</div>
