<html lang="en">
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
<!-- Letra bonita -->
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Poppins", sans-serif}
body {font-size:16px;}
.w3-half img{margin-bottom:-6px;margin-top:16px;opacity:0.8;cursor:pointer}
.w3-half img:hover{opacity:1}
</style>
<body>
<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-red w3-collapse w3-top w3-large w3-padding" style="z-index:3;width:300px;font-weight:bold;" id="mySidebar"><br>
</nav>


<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:340px;margin-right:40px">

  <!-- Header -->
  <div class="w3-container" style="margin-top:80px" id="showcase">
    <h1 class="w3-jumbo"><b>Linio </b></h1>
    <h1 class="w3-xxxlarge w3-text-red"><b>Inicia Sesión</b></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">
  </div>
  <body>
<p> {{error}} </p>
<form action="/login" method="POST">
<h6>Email: <input type="text" name="email"></h6>
<h6>Password: <input type="password" name="password"></h6>
<h4><input type="submit" value="Iniciar Sesión"></h4>
<a href="/registerationForm">Registrate aqui</a>
</form>

</body>
 
<!-- End page content -->
</div>